** {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: calc(100vw / 1920 * 10);
  
  @media (max-width: 400px) {
    font-size: calc(100vw / 360 * 10);
  }
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
}